{% extends "base.html.twig" %}

{% block body %}
<style>
    @media print{
       #dossier,#infos{
            width:100%; 
            font-size: 1.3em; 
        }
        #pinfos{
            font-size: 1.2em;
        }
        .text-top{
            margin-bottom: 50px;
        }
        #nav,#head,.actions{display:none;}
    }
</style>
<div class="actions container">
    <a href="{{path("medecin_home")}}" class="btn btn-lg btn-secondary">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
        retour
    </a>
</div>
<section class="col-md-8 mx-auto" id="dossier">
    <div class=" mb-5">
        <div class="">
            <p class="h3 text-center fw-bold text-top text-decoration-underline">Dossier patient</p>
            <p class="" id="pinfos">
                Matricule : <span class="fw-bold">{{patient.matricule}}</span> </br>
                Nom : {{patient.nom}} </br>
                Prenom : {{patient.prenom}} </br>
                Age :  {{patient.age}} ans </br>
                Sexe :  {% if patient.sexe =="F" %}
                            {{"Féminin"}}
                        {% else %}
                            {{"Masculin"}}
                        {% endif %}
                    </br>
                Poids : {{patient.poids}} Kg </br>
                Adresse :  {{patient.adresse}} </br> 
                Téléphone : {{patient.contact}}
            </p>
        </div>
        <div class="actions">
            <a href="{{path("new_consul",{'matricule': patient.matricule})}}" class="btn btn-info mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  </svg>
                Consulter
            </a>
            <a href="{{path("fiche_patient",{'matricule': patient.matricule})}}" class="btn btn-primary mx-3">fiche patient</a>
            <a href="{{path("app_ordonnance",{'matricule': patient.matricule})}}" class="btn btn-success mx-3">Ordonnances</a>
            <button class="btn btn-secondary" onClick="window.print()" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                    <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                    <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                  </svg>
                  Imprimer
            </button>
        </div>
        <hr>
        <div class="mb-5" id="infos">
            {% for consul in consultations %}
                <p class="">
                    <span class="fw-bold">Consultation du {{consul.createdAt | date("d/m/Y")}}</span></br>
                    <p>{{consul.diagnostic}}</p>
                </p>
                <hr>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock body %}