{% extends "base.html.twig" %}

{% block body %}
<section class="container">
    <div class="w-75 mx-auto mb-5">
        <div class="container mb-4">
            <p class="h3 text-center fw-bold">Dossier patient</p>
            <p class="">
                Matricule : <span class="fw-bold">{{patient.matricule}}</span> </br>
                Nom : {{patient.nom}} </br>
                Prenom : {{patient.prenom}} </br>
                Age :  {{patient.age}} ans </br>
                Sexe :  {% if patient.sexe =="F" %}
                            {{"Féminin"}}
                        {% else %}
                            {{"Masculin"}}
                        {% endif %}
                    </br>
                Poids : {{patient.poids}} Kg </br>
                Adresse :  {{patient.adresse}} </br> 
                Téléphone : {{patient.contact}}
            </p>
        </div>
        <div class="">
            <a href="{{path("new_consul",{'matricule': patient.matricule})}}" class="btn btn-info mx-3">Ajouter</a>
            <a href="{{path("fiche_patient",{'matricule': patient.matricule})}}" class="btn btn-primary mx-3">fiche patient</a>
            <a href="{{path("app_ordonnance",{'matricule': patient.matricule})}}" class="btn btn-success mx-3">Ordonnances</a>
        </div>
        <hr>
        <div class="container mb-5">
            {% for consul in patient.consultations %}
                <p class="">
                    <span class="fw-bold">Consultation du {{consul.createdAt | date("d/m/Y")}}</span></br>
                    <p>{{consul.diagnostic}}</p>
                </p>
                <hr>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock body %}