{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
<div class="container">

    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Code Patient</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Sexe</th>
                <th>Poids</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <tr>
                    <td>{{patient.matricule}}</td>
                    <td>{{patient.nom}}</td>
                    <td>{{patient.prenom}}</td>
                    <td>{{patient.age}}</td>
                    <td>{{patient.sexe}}</td>
                    <td>{{patient.poids}}</td>
                    {% if is_granted("ROLE_RECEPTIONISTE") %}
                        <td><a href="{{path("add_admission",{'matricule': patient.matricule})}}" class="btn btn-primary">Ajouter à la file</a></td>
                        <td><a href="{{path("modifier_patient",{'id': patient.id})}}" class="btn btn-warning">Modifier</a></td>
                    {% endif %}
                    {% if is_granted("ROLE_MEDECIN") %}
                        <td><a href="{{path("new_consul",{'matricule': patient.matricule})}}" class="btn btn-primary"> Consultation </a></td>
                        <td><a href="{{path("dossier_patient",{'matricule': patient.matricule})}}" class="btn btn-success">Voir dossier</a></td>
                        <td><a href="{{path("modifier_patient",{'id': patient.id})}}" class="btn btn-warning">Modifier</a></td>
                    {% endif %}            
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
