{% extends "admin.html.twig" %}

{% block body %}
    <div class="container-fluid mt-0">
        <table class="table">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Fonction</th>
                    <th>Contact</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% set i = 1%}
                {% for user in users %}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{user.nom}}</td>
                        <td>{{user.prenom}}</td>
                        <td>
                            {% if user.roles[0]=="ROLE_MEDECIN" %}
                                {{"medecin"}}
                            {% elseif user.roles[0]=="ROLE_RECEPTIONISTE" %}
                                {{"receptioniste"}}
                            {% elseif user.roles[0]=="ROLE_ADMIN" %}
                                {{"administrateur"}}
                            {% endif %}
                        </td>
                        <td>{{user.contact}}</td>
                        <td><a href="{{path("update_user",{'id':user.id})}}" class="btn btn-warning">Modifier</a></td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock body %}
