{% extends 'base.html.twig' %}

{% block title %}ORDONNANCE {{ordonnance.patient.nom}} {{ordonnance.patient.prenom}}{% endblock %}

{% block body %}
<style>
    @media print{
        #ordo,#d{
            width:100%;
            font-size: 1.25em; 
        }
        table{
            width:100%;
        }
        .text-top{
            margin-bottom: 50px;
        }
       
        #nav,#head,.actions,#s{display:none;}
    }
</style>
    <div class="container actions">
        <a href="{{path("app_ordonnance",{'matricule':ordonnance.patient.matricule})}}" class="btn btn-secondary btn-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
            retour
        </a>
    </div>
    <section class="col-8 mx-auto" id="ordo">
        
        <p class="fw-bold text-center h1 text-decoration-underline mb-3 text-top">ORDONNANCE</p>
        <div class="" id="d">
            <div class="mb-3 actions" id="">
                <a href="{{path("update_ordo",{'id':ordonnance.id})}}" class="btn btn-info btn-lg ">Modifier</a>
                <button type="button" onClick="window.print()"  class="btn btn-secondary btn-lg">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                    </svg>
                    Imprimer
                </button>
            </div>
           
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Medicaments</th>
                        <th>Posilogie</th>
                        <th>Quantite</th>
                        <th class="actions"></th>
                    </tr>
                </thead>
                <tbody>
                    {% set i = 1%}
                    {% for item in ordonnance.items %}
                        <tr>
                            <td>{{i}}</td>
                            <td>{{item.designation}}</td>
                            <td>{{item.posologie}}</td>
                            <td>{{item.quantite}}</td>
                            <td class="actions">
                                <a href="{{path("rm_item",{'id':item.id})}}" class="btn btn-danger P-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                    </svg>
                                </a>
                            </td>
                        </tr>
                        {% set i = i + 1 %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </section>
{% endblock %}