{% extends 'base.html.twig' %}

{% block title %}Admission{% endblock %}

{% block body %}
<section class="container">
    <div class="">
        <p class="h1 text-center fw-bold">FILE D'ATTENTE </p>
    </div>
    <div class="w-50 mx-auto">
        <a href="{{path("add_q")}}" class="btn btn-lg btn-primary"> Ajouter</a>
    </div>
    <div class="mt-4">
        {% if patients == null %}
            <p class="text-center fw-bold mt-5">La file d'attente est vide .</p>
        {% else %}
            <div class="row gy-3">
                {% for p in patients %}
                    <div class="col-md-3">
                        <div class="card p-3 bg-secondary">
                            <p class="h3">{{p.matricule}}</p>
                            <p><span class="fw-bold">{{p.nom }}</span><span class=""> {{ p.prenom}}</span></p>
                            <a href="{{path("rm_admission",{'matricule': p.matricule})}}" class="btn btn-danger">retirer</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
